Package: com.xyaman.kori
Name: Kori
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: Xyaman
Author: Xyaman
Section: Tweaks
Depends: ${ORION}, firmware (>= 13.0), ws.hbang.common (>= 1.17)
